{% extends "vault/vault_base.html" %}

{% block content %}
    <div id="vault-scene">
        <div id="vault-button">
            <div id="vault-button-slider">
                A
            </div>
        </div>
        <div id="vault-door"></div>
        <div id="vault">
            <div id="vault-bars">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>        
    </div>
    <div class="hire-me">
        <p>If you need something making, why not </p>
        <span class="big-button green raised">
            <span class="background">
                <span class="border-wrapper">
                    <a href="" class="target">Get in Touch!</a>
                </span>
            </span>
        </span>
    </div>

{% endblock %}
