{% extends "base.html" %}

{% block content %}
    <h2>About Me</h2>
    <p>I am a web developer, musician, <a href="">photographer</a> and Nottingham University
    Computer Science student. I always have a <a href="">project on the go</a>, and love
    creating web applications using the fantastic <a
        href="http://djangoproject.com">Django</a> framework.</p>

    <h2>Latest Posts</h2>
    <p>Some of my latest posts.</p>

    <span class="big-button blue">
        <span class="border-wrapper">
            
            <a href="" class="target">Hire me!</a>
        </span>
    </span>
{% endblock %}
